@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SST';
  src: url("/src/assets/fonts/SST-WO2/SST-W02Roman/@font-face/a54b89987acd177eb6f55a8e1a8e8ca5.ttf")
}
*{
  font-family: 'SST';
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
